#root, html, body{
    height: 100vh;
}

body {
    margin: 0;
    background-image: url("https://i.etsystatic.com/7942433/r/il/c53f7b/2794362434/il_794xN.2794362434_nr2m.jpg");
    /* background-color: whitesmoke; */
}

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;  
    /* once alan scroll the application it should be smooth */
}